@import '../../../styles/variables.css';

.editBtn {
  background-color: var(--color-primary);
  color: white;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  border: none;
  margin-right: var(--spacing);
  cursor: pointer;
}

.deleteBtn {
  background-color: var(--color-danger);
  color: white;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}
