.header {
    color: var(--color-on-primary);
    background-color: var(--color-primary);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
  }
  

  .sitename {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-on-primary);
    letter-spacing: 1px;
  }
  
  .header .logo {
    text-decoration: none;
    cursor: pointer;
    }

  .header .btn-getstarted,
  .header .btn-getstarted:focus {
    color: var(--color-on-primary);
    background: var(--color-secondary);
    font-size: 14px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .header .btn-getstarted:hover,
  .header .btn-getstarted:focus:hover {
    color: var(--color-on-primary);
    background: var(--color-tertiary);
  }
  

  
  /* Navigation menu */
  .navmenu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  
  .navmenu ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navmenu li {
    margin-left: 20px;
    list-style: none;
  }
  
  .navmenu a {
    color: var(--color-on-primary);
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
  }

  
  
  /* Mobile menu adjustments */
  @media (max-width: 1199px) {
    .navmenu ul {
      display: none;
    }
  
    .mobile-nav-toggle {
      display: block;
    }
  
    .mobile-nav-active .navmenu ul {
      display: block;
    }
  }
  